= render 'keppler_frontend/app/frontend/components/navbar', farm: @farm, farms: @farms
= render 'keppler_frontend/app/cattle/partials/listing', farm: @farm, cows: @inactive_cows, search: @q

:javascript
  $('#select-search').change(function() {
    $('.select-field').hide()
    var $id = $(this).find('option:selected').val()
    $("#" + $id).show()
  })

  var $ids = #{@cows.pluck(:id)}
  var $final_array = []
  var href = $('.destroy_multiple').attr('href')

  function ids_loop() {
    $ids.forEach(function (id) {
      $('[checklist-model="check"]:checked').each(function( index ) {
        if ($(this).prop('id').includes(id)) {
          if ( !$final_array.includes(id) ) {
            $final_array.push(id)
          }
        }
      });
      $('[checklist-model="check"]:not(:checked)').each(function( index ) {
        if ($(this).prop('id').includes(id)) {
          if ($final_array.includes(id)) {
            $final_array.splice($final_array.indexOf(id), 1);
          }
        }
      });
    });
    $('.destroy_multiple').attr('href', (`${href}&multiple_ids=[${$final_array}]`))
  }

  $('#checkbox-all').click(function() {
    $('[checklist-model="check"]').prop( "checked", $(this).prop( "checked" ) )
    ids_loop()
  })

  $('[checklist-model="check"]').click(function() {
    ids_loop()
    $('#checkbox-all').prop(
      'checked',
      JSON.stringify($ids) === JSON.stringify($final_array)
    )
  })

  $('.destroy_multiple').click(function(e) {
    e.preventDefault()
  })

  $('#open-status-history').click(function() {
    $('#status-history').css({
      right: '0'
    })
  })
  $('#close-status-history').click(function() {
    $('#status-history').css({
      right: '-300px'
    })
  })

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })