-# = render 'keppler_frontend/app/farms/components/navbar', farm: @farm, farms: @farms
= render 'keppler_frontend/app/cattle/partials/listing', farm: @farm, cows: @page_active_cows, search: @q

:javascript
  $('#select-search').change(function() {
    $('.select-field').hide()
    var $id = $(this).find('option:selected').val()
    $("#" + $id).show()
  })

  var $ids = #{@farm.cows.pluck(:id)}
  var $final_array = []

  function checkboxes() {
    function ids_loop(ids) {
      $ids.forEach(function (id) {
        $('[checklist-model="check"]:not(:checked)').each(function( index ) {
          if ($(this).prop('id').includes(id)) {
            if ($final_array.includes(id)) {
              $final_array.splice($final_array.indexOf(id), 1);
            }
          }
        });
        $('[checklist-model="check"]:checked').each(function( index ) {
          if ($(this).prop('id').includes(id)) {
            if ( !$final_array.includes(id) ) {
              $final_array.push(id)
            }
          }
        });
      });
      $('.multiple_ids').each(function(index, elem) {
        href = $(elem).attr('href')
        var result = href.split(',').filter(function(e) {
          return $final_array.indexOf(parseInt(e)) != -1
        });
        console.log('href: ' + href)
        console.log('$final_array: ' + $final_array)
        console.log('result: ' + result)
        $(elem).attr('href', (`${href}${result}`))
      })
      $(".disable").each(function(index) {
        $(this).attr("disabled", $final_array == '');
      })
    }

    $('#checkbox-all').click(function() {
      $('[checklist-model="check"]').prop( "checked", $(this).prop( "checked" ) )
      ids_loop($ids)
    })

    $('[checklist-model="check"]').click(function() {
      ids_loop($ids)
      $('#checkbox-all').prop(
        'checked',
        JSON.stringify($ids) === JSON.stringify($final_array)
      )
    })
  }

  checkboxes()

  function strategic_lots() {
    Swal.fire({
      title: 'Selecciona un lote estratégico',
      input: 'select',
      inputOptions: {
        #{raw @strategic_lots}
      },
      showCancelButton: true
    }).then((result) => {
      if (!result.dismiss) {
        window.location = "#{transfer_farm_strategic_lots_path(@farm, [])}"
      }
    })
  }


:coffee
  $ ->
    if $('.pagination').length && $('#cows').length
      $(window).scroll ->
        next_page = $('a[rel=next]').attr('href')
        if $(window).scrollTop() > $(document).height() - $(window).height() - 5
          $('.next_page').remove()
          $('#loading').html('<center class="loading"><img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." /></center>')
          if next_page
            $.getScript(next_page)
            console.log(next_page)
        
        checkboxes()

      $(window).scroll()