-# = render 'keppler_frontend/app/farms/components/navbar', farm: @farm, farms: @farms
= render 'keppler_frontend/app/cattle/partials/listing', farm: @farm, cows: @page_active_cows, search: @q

:javascript
  $('#select-search').change(function() {
    $('.select-field').hide()
    var $id = $(this).find('option:selected').val()
    $("#" + $id).show()
  })

  var $multiple_ids = []

  // function checkboxes() {
  //   function ids_loop(ids) {
  //     // ids.forEach(function (id) {
  //     //   $('[checklist-model="check"]:not(:checked)').each(function( index ) {
  //     //     if ($(this).prop('id').includes(id)) {
  //     //       if ($multiple_ids.includes(id)) {
  //     //         $multiple_ids.splice($multiple_ids.indexOf(id), 1);
  //     //       }
  //     //     }
  //     //   });
  //     //   $('[checklist-model="check"]:checked').each(function( index ) {
  //     //     if ($(this).prop('id').includes(id)) {
  //     //       if ( !$multiple_ids.includes(id) ) {
  //     //         $multiple_ids.push(id)
  //     //       }
  //     //     }
  //     //   });
  //     // });
  //     $('.multiple_ids').each(function(index, elem) {
  //       href = $(elem).attr('href')
  //       var result = href.split(',').filter(function(e) {
  //         return $multiple_ids.indexOf(parseInt(e)) != -1
  //       });
  //       // console.log('href: ' + href)
  //       // console.log('$multiple_ids: ' + $multiple_ids)
  //       // console.log('result: ' + result)
  //       $(elem).attr('href', (`${href}${result}`))
  //     })
  //     $(".disable").each(function(index) {
  //       $(this).attr("disabled", $multiple_ids == '');
  //     })
  //   }

  $('#checkbox-all').click(function() {
    // console.log('#checkbox-all click')
    this_is_checked = $(this).prop('checked')
    $('.checkbox').each(function(index, elem) {
      if ($(elem).prop('checked') == !this_is_checked) {
        $(elem).click()
      }
    })
  })

  $('.checkbox').click(function() {
    var id = $(this).prop('id').replace('checkbox-', '')
    if ($multiple_ids.includes(id)) {
      $multiple_ids.splice($multiple_ids.indexOf(id), 1);
    } else {
      $multiple_ids.push(id)
    }
    $('#en-lote').prop('disabled', ($multiple_ids.length == 0))
    $('.multiple_ids').each(function(index, elem) {
      split_href = $(elem).attr('href').split('/').filter(Boolean)
      href_root = split_href.filter(function(e) {
        var path = window.location.pathname.split('/').splice(0, 3)
        return !path.includes(e) && isNaN(parseInt(e))
      }).join('/')
      var final_href = `${href_root}/${$multiple_ids.join(',')}`
      $(elem).attr('href', final_href)
    })
  })

  function strategic_lots() {
    Swal.fire({
      title: 'Selecciona un lote estratégico',
      input: 'select',
      inputOptions: {
        #{raw @strategic_lots}
      },
      showCancelButton: true
    }).then((result) => {
      if (!result.dismiss) {
        window.location = "#{transfer_farm_strategic_lots_path(@farm, [])}"
      }
    })
  }


:coffee
  # $ ->
  #   if $('.pagination').length && $('#cows').length
  #     $(window).scroll ->
  #       next_page = $('a[rel=next]').attr('href')
  #       if $(window).scrollTop() > $(document).height() - $(window).height() - 5
  #         $('.next_page').remove()
  #         $('#loading').html('<center class="loading"><img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." /></center>')
  #         if next_page
  #           $.getScript(next_page)
  #           console.log(next_page)
  #       checkboxes()
  #     $(window).scroll()

  $('#show_more').click ->
    console.log('#show_more click')
    next_page = $('a[rel=next]').attr('href')
    $('.next_page').remove()
    $('#loading').html('<center class="loading"><img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." /></center>')
    if next_page
      $.getScript(next_page)
      console.log('next_page: ', next_page)
  if $('.pagination').length && $('#cows').length
    $('#show_more').show()
  else
    $('#show_more').hide()
