-# = render 'keppler_frontend/app/farms/components/navbar', farm: @farm, farms: @farms
.app_wrapper
  .container_carousel
    .single-item
      = link_to (:back == request.url ? :back : farm_cows_path(@farm)) do
        %button.btn.btn_custom.btn--medium.mt-4.mb-4
          %i.icofont-arrow-left
          Atrás
      .card_new
        .float-left
        %h1 Datos generales
        = render 'keppler_frontend/app/cattle/partials/form', farm: @farm