.app_wrapper.pb-5
  .container.d-flex.justify-content-between
    .left
      %h1 Editar proceso de queso
    .right
      = link_to (:back == request.url ? :back : farm_milk_path(@farm)) do
        %button.btn.btn_custom.btn--medium.mt-4.mb-4
          %i.icofont-arrow-left
          Atrás
  .container
    = render 'form'