%a{ href: '' }
  %button.btn.btn_custom.btn--small Small
%a{ href: '' }
  %button.btn.btn_custom.btn--small.btn--filled Small filled
%a{ href: '' }
  %button.btn.btn_custom.btn--medium Medium
%a{ href: '' }
  %button.btn.btn_custom.btn-medium.btn--filled Medium filled
%a{ href: '' }
  %button.btn.btn_custom.btn--large Large
%a{ href: '' }
  %button.btn.btn_custom.btn--large.btn--filled Large filled
%a{ href: '' }
  %button.btn.btn_custom
    %i.icofont-plus
    Botón con icono
%a{ href: '' }
  %button.btn.btn_custom.btn--filled
    %i.icofont-plus
    Botón con icono