// Reproduction Stylesheets
= stylesheet_link_tag 'keppler_reproduction/application', media: 'all', 'data-turbolinks-track': true
// Reproduction Javascripts
= javascript_include_tag 'keppler_reproduction/application', 'data-turbolinks-track': true