.container_custom
  .row
    .col-lg-2
      .vertical_card
        %nav#scrollspy_cards.navbar
          %ul.nav
            %li.nav-item
              %a.nav-link{href: "#animal"} Datos del Animal
            %li.nav-item
              %a.nav-link{href: "#general"} Datos Generales
            %li.nav-item
              %a.nav-link{href: "#weight"} Peso
            %li.nav-item
              %a.nav-link{href: "#mother"} Madre
            %li.nav-item
              %a.nav-link{href: "#father"} Padre
    .col-lg-10
      .animal_data#animal
        %dl
          %dt
            %label.label_custom--strong Número de Serie
          %dd 621
          %dt
            %label.label_custom--strong Nombre
          %dd Casera
          %dt
            %label.label_custom--strong Raza
          %dd Mestizo Brahman 5/8
    .col-lg-10.offset-lg-2
      .card_show#general
        %h1 Datos Generales
        .row
          .col-lg-6
            %dl
              %dt Fecha de Nacimiento
              %dd.mb-5
                %input.form-control.input_custom
              %dt Edad (Año-Mes)
              %dd.mb-5
                %input.form-control.input_custom
              %dt Tipología
              %dd.mb-5
                %input.form-control.input_custom
              %dt Procedencia
              %dd.mb-5
                %input.form-control.input_custom
          .col-lg-6
            %dl
              %dt Color Pelaje
              %dd.mb-5
                %input.form-control.input_custom
              %dt Color Morro
              %dd.mb-5
                %input.form-control.input_custom
              %dt Borla
              %dd.mb-5
                %input.form-control.input_custom
              %dt Condición corporal
              %dd.mb-5
                %input.form-control.input_custom
              %dt Lote estrátegico
              %dd.mb-5
                %input.form-control.input_custom
      .card_show#weight
        %h1 Pesos (Kgs)
        .row
          .col-lg-6
            %dl
              %dt Peso inicial
              %dd.mb-5
                %input.form-control.input_custom
              %dt Fecha
              %dd.mb-5
                %input.form-control.input_custom
              %dt Precio inicial
              %dd.mb-5
                %input.form-control.input_custom
          .col-lg-6
            %dl
              %dt Pesos ajustados a los
              %dd.mb-5
                %input.form-control.input_custom
      .card_show#mother
        %h1 Datos de la Madre
        .row
          .col-lg-6
            %dl
              %dt Serie Madre
              %dd.mb-5
                %input.form-control.input_custom
              %dt Nombre de la Madre
              %dd.mb-5
                %input.form-control.input_custom
          .col-lg-6
            %dl
              %dt Fecha de Nacimiento
              %dd.mb-5
                %input.form-control.input_custom
              %dt Raza
              %dd.mb-5
                %input.form-control.input_custom
          .col-lg-6
            %dl
              %dt Asociación 1
              %dd.mb-5
                %input.form-control.input_custom
              %dt Registro 1
              %dd.mb-5
                %input.form-control.input_custom
              %dt Tipo
              %dd.mb-5
                %input.form-control.input_custom
          .col-lg-6
            %dl
              %dt Asociación 2
              %dd.mb-5
                %input.form-control.input_custom
              %dt Registro 2
              %dd.mb-5
                %input.form-control.input_custom
              %dt Tipo
              %dd.mb-5
                %input.form-control.input_custom
      .card_show#father
        %h1 Datos del Padre
        .row
          .col-lg-6
            %dl
              %dt Serie Padre
              %dd.mb-5
                %input.form-control.input_custom
              %dt Nombre de la Padre
              %dd.mb-5
                %input.form-control.input_custom
              %dt Pajuela
              %dd.mb-5
                %input.form-control.input_custom
          .col-lg-6
            %dl
              %dt Fecha de Nacimiento
              %dd.mb-5
                %input.form-control.input_custom
              %dt Raza
              %dd.mb-5
                %input.form-control.input_custom
          .col-lg-6
            %dl
              %dt Asociación 1
              %dd.mb-5
                %input.form-control.input_custom
              %dt Registro 1
              %dd.mb-5
                %input.form-control.input_custom
              %dt Tipo
              %dd.mb-5
                %input.form-control.input_custom
          .col-lg-6
            %dl
              %dt Asociación 2
              %dd.mb-5
                %input.form-control.input_custom
              %dt Registro 2
              %dd.mb-5
                %input.form-control.input_custom
              %dt Tipo
              %dd.mb-5
                %input.form-control.input_custom
