= render 'keppler_frontend/app/frontend/components/navbar', farm: @farm, farms: @farms
// = render 'keppler_frontend/app/frontend/components/profile-banner', farm: @farm
.app_wrapper
  %img.bg-shape2{src:'/assets/keppler_frontend/app/shape2.svg'}
  .container_custom
    .row
      .col-lg-12
        .description_land
          %h1 Descripción de la finca
          %p= raw @farm&.description
      .col-lg-12
        .photos_land
          .items
            - @farm&.photos.each do |photo|
              .carousel_img
                = image_tag (photo&.photo&.url || 'https://images.unsplash.com/photo-1547046219-d3ce5318c5c7?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80')
          .multiple-items
            - @farm&.photos.each do |photo|
              .carousel_img_multiple
                = image_tag (photo&.photo&.url || 'https://images.unsplash.com/photo-1547046219-d3ce5318c5c7?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80')

          
