= render 'keppler_frontend/app/frontend/components/profile-banner', farm: @farm
.container_custom
  .description_land
    %h1 Descripción de la finca
    %p= raw @farm&.description
= render 'keppler_frontend/app/frontend/components/multiple-carousel', farm: @farm