%center{ style: 'display:flex; flex-flow:column; align-items:center; justify-content:center' }
  %h1 No tienes fincas asignadas
  %br
  %p Solicita permisos al administrador para poder operar en las fincas correspondientes