<keppler-view id='index'>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <%= render 'keppler_frontend/app/frontend/partials/head' %>
  </head>
  <body>
    <div class="container">
      <%= render 'keppler_frontend/app/frontend/components/buttons' %>
      <%= render 'keppler_frontend/app/frontend/components/form' %>
      <%= render 'keppler_frontend/app/frontend/components/table' %>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>

</keppler-view>
