!!!
%html{ lang: 'en' }
  %head
    = render 'keppler_frontend/app/frontend/partials/head'
  %body
    .login_box
      .login_left
        %img{ src: 'https://c1.staticflickr.com/5/4230/34343845694_e92f6e996f_b.jpg' }
      .login_right
        %img.login_logo{ src: @default_logo }
        .login_card
          .form-group
            %label.label_custom.label_login Correo
            %input.form-control.input_custom.input_login{ type: 'text' }
          .form-group
            %label.label_custom.label_login Contraseña
            %input.form-control.input_custom.input_login{ type: 'text' }
          %a.float-right{ href: '' }
            %button.btn.btn_custom.btn--medium.btn--filled Entrar
        %span.powered_by
          Powered by
          %a{ href: '#' } Slice Group
    %script{ src: 'https://code.jquery.com/jquery-3.3.1.min.js' }
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' }
    %script{ src: 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' }
    %script{ src: 'assets/js/slick.min.js' }
    %script{ src: 'assets/js/main.js' }
