.container_carousel
  .single-item
    %a.mt-4.mb-4.ml-3{ href: app_farm_strategic_lots_path(@farm) }
      %button.btn.btn_custom.btn--medium
        %i.icofont-circled-left
        Listado
    .card_new
      .float-left
      %h1 Datos generales
      = render 'keppler_frontend/app/strategic_lots/partials/form', farm: @farm