= search_form_for [:app, @farm, search] do |f|
  .flex-search
    %select#from-farm{ name: 'search[from]' }
      %option Desde
      - @search_farms.each do |farm|
        %option{ value: farm.last } #{farm.first}
    %select#to-farm{ name: 'search[to]' }
      %option Hacia
      - @search_farms.each do |farm|
        %option{ value: farm.last } #{farm.first}
    = f.submit "Buscar"