::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #d2d2d2;
}

.app_wrapper {
  padding-top: 100px;
  background-color: #f8f8f8;
  min-height: 100vh;
}

.description_land {
  padding: 40px 30px;
  
  h1 {
    font-weight: $bold;
    font-size: 30px;
  }

  p {
    font-size: 15px;
    font-weight: $light;
  }
}

.slick-prev::before, .slick-next::before {
  color: $secundary;
  font-family: 'IcoFont';
  font-size: 30px;
}

.slick-prev::before {
  content: "\ea7b";
}

.slick-next::before {
  content: "\ea7c";
}

.slick-slide {
  outline: 0;
}