-# = f.input :race_id, collection: races, label: 'Raza', label_html: { class: 'label_custom--strong' }, input_html: { class: 'form-control input_custom' }

%select#cow_race_id.form-control.select.required.form-control.input_custom{ "aria-hidden" => "true", name: "cow[race_id]", tabindex: "-1" }
  -# %option{ selected: true, disabled: true } Selecciona una raza
  - races.each do |race|
    %option{ value: race.id }= race.name