= link_to change_phase_farm_season_path(@farm, @season), method: :post, data: { confirm: '¿Estás seguro?' } do
  %button.btn.btn_custom.btn--medium.m-1{ disabled:  @season.finished? }
    %i.icofont-close-circled
    Cerrar fase