.modal.modal_status.fade{ id: "modalZeals", "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog" }
  .modal-dialog{role: "document", style: "max-width: 800px;"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body{ style: "padding: 20px;"}
        .container_custom
          .row
            .col-lg-12
              .float-left
                %h1.mb-4 Agregar Celos
                -# %form.multiple_ids{ action: "finca/#{@farm.id}/temporadas/#{@season.id}/marcar-celos/" }
                = simple_form_for [@farm, @season, KepplerCattle::Status.new], url: statuses_farm_season_path(@farm, @season) do |f|
                  %input{ name: 'status[type]', value: 'Zeal', type: (Rails.env.eql?('development') ? :hidden : :hidden) }
                  %input{ name: 'status[farm_id]', value: @farm.id, type: (Rails.env.eql?('development') ? :hidden : :hidden) }
                  %input{ name: 'status[season_id]', value: @season.id, type: (Rails.env.eql?('development') ? :hidden : :hidden) }
                  %input.multiple_ids{ name: 'status[multiple_ids]', value: '', type: (Rails.env.eql?('development') ? :hidden : :hidden) }
                  .form-padding
                    .row
                      .col-sm-12.col-md-6
                        -# = f.input :start_date, as: :string, label: 'Fecha del celo', label_html: { class: 'label_custom--strong' }, input_html: { class: 'form-control input_custom', autocomplete: 'off' }
                        .form-group
                          %label.label_custom--strong Fecha del celo
                          %input.form-control.input_custom.datepicker{ name: "status[date]", autocomplete: 'off', value: Date.today }
                      .col-sm-12.col-md-6
                        -# = f.input :name, label: 'Nombre del Responsable', placeholder: false, label_html: { class: 'label_custom--strong' }, input_html: { class: 'form-control input_custom' }
                        .form-group
                          %label.label_custom--strong Nombre del responsable
                          %input.form-control.input_custom{ name: "status[user_name]", autocomplete: 'off', list: 'responsables' }
                          %datalist#responsables
                            - KepplerFarm::Responsable.all.each do |responsable|
                              %option{ value: responsable.name }
                      .col-sm-12
                        -# = f.input :name, label: 'Observaciones', placeholder: false, label_html: { class: 'label_custom--strong' }, input_html: { class: 'form-control input_custom' }
                        .form-group
                          %label.label_custom--strong Observaciones
                          %input.form-control.input_custom{ name: "status[observations]" }
                      .col-sm-12
                        .float-right
                          %button.btn.btn_custom.btn--filled.btn--medium{ type: 'submit' }
                            %i.icofont-save
                            Guardar