.modal.modal_status.fade{ id: "modalLote", "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document", style: "max-width: 800px;"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body{ style: "padding: 20px;"}
        .container_custom
          .row
            .col-lg-12
              .float-left
                %h1.mb-4 Elegir un lote
              = simple_form_for [@farm, @season, @season_cow], url: assign_cattle_farm_season_path(@farm, @season) do |f|
                = f.input :season_id, as: :hidden, input_html: { value: @season.id }
                %select#season_cow_strategic_lot.form-control.select.required.form-control.input_custom{"aria-hidden" => "true", name: "season_cow[strategic_lot]", tabindex: "-1" }
                  - @strategic_lots.each do |lot|
                    %option{ value: lot.id } #{lot.name} (#{(@possible_mothers.ids&lot.cows.ids).size} hembras reproductivas)
                .float-right.mt-3
                  %button.btn.btn_custom.btn--filled.btn--medium{ type: 'submit' }
                    %i.icofont-save
                    Guardar