.modal.modal_status.fade{ id: "modalPregnancy", "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog" }
  .modal-dialog{role: "document", style: "max-width: 800px;"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body{ style: "padding: 20px;"}
        .container_custom
          .row
            .col-lg-12
              .float-left
                %h1.mb-4 Agregar Preñez
                -# %form.multiple_ids{ action: "finca/#{@farm.id}/temporadas/#{@season.id}/marcar-celos/" }
                = simple_form_for [@farm, @season, KepplerCattle::Status.new], url: statuses_farm_season_path(@farm, @season) do |f|
                  %input{ name: 'status[type]', value: 'Pregnancy', type: (Rails.env.eql?('development') ? :string : :hidden) }
                  %input.multiple_ids{ name: 'status[multiple_ids]', value: '', type: (Rails.env.eql?('development') ? :string : :hidden) }
                  .form-padding
                    .row
                      .col-sm-12.col-md-6
                        .form-group
                          %label.label_custom--strong Fecha de la preñez
                          %input.form-control.input_custom.datepicker#status_date{ name: "status[date]", autocomplete: 'off', value: Date.today }
                      .col-sm-12.col-md-6
                        .form-group
                          %label.label_custom--strong Meses de preñez
                          %input.form-control.input_custom#status_months{ name: "status[months]", type: 'number', autocomplete: 'off', value: 0 }
                      -# .col-sm-12.col-md-6
                        .form-group
                          %label.label_custom--strong Padrote o Pajuela
                          %input.form-control.input_custom#status_months{ name: "status[father]", value: }
                      .col-sm-12.col-md-6
                        .form-group.ui-widget
                          %label.label_custom--strong Nombre del responsable
                          %input.form-control.input_custom{ name: "status[user_name]", autocomplete: 'off', list: 'responsables' }
                          %datalist#responsables
                            - KepplerFarm::Responsable.all.each do |responsable|
                              %option{ value: responsable.name }
                      .col-sm-12
                        .form-group
                          %label.label_custom--strong Observaciones
                          %input.form-control.input_custom{ name: "status[observations]" }
                      .col-sm-12
                        .float-right
                          %button.btn.btn_custom.btn--filled.btn--medium{ type: 'submit' }
                            %i.icofont-save
                            Guardar
:javascript
  function editar_fecha(fecha, intervalo, dma, separador) {
  
    var separador = separador || "-";
    var arrayFecha = fecha.split(separador);
    var anio = arrayFecha[0];
    var mes = arrayFecha[1];
    var dia = arrayFecha[2];  
    
    var fechaInicial = new Date(anio, mes - 1, dia);
    var fechaFinal = fechaInicial;
    if(dma=="m" || dma=="M"){
      fechaFinal.setMonth(fechaInicial.getMonth()+parseInt(intervalo));
    }else if(dma=="y" || dma=="Y"){
      fechaFinal.setFullYear(fechaInicial.getFullYear()+parseInt(intervalo));
    }else if(dma=="d" || dma=="D"){
      fechaFinal.setDate(fechaInicial.getDate()+parseInt(intervalo));
    }else{
      return fecha;
    }
    dia = fechaFinal.getDate();
    mes = fechaFinal.getMonth() + 1;
    anio = fechaFinal.getFullYear();
  
    dia = (dia.toString().length == 1) ? "0" + dia.toString() : dia;
    mes = (mes.toString().length == 1) ? "0" + mes.toString() : mes;
  
    return `${anio}${separador}${mes}${separador}${dia}`;
  }

  $('#status_date').change(function() {
    status_date = new Date($('#status_date').val())
    today = new Date()
    $('#status_months').val(parseInt((today.getTime() - status_date.getTime()) / (1000*60*60*24*30)))
  })

  $('#status_months').keyup(function() {
    s_months = $('#status_months').val()
    today = new Date()
    year = today.getFullYear();
    month = today.getMonth() + 1;
    day = today.getDate();
    full_date = `${year}-${month}-${day}`
    $('#status_date').val(
      editar_fecha(full_date, `-${s_months}`, 'm') == 'NaN-NaN-NaN' ?
       editar_fecha(full_date, '0', 'm') :
       editar_fecha(full_date, `-${s_months}`, 'm')
    )
  })
