-# = render 'keppler_frontend/app/farms/components/navbar', farm: @farm, farms: @farms
.app_wrapper
  .container_carousel
    .single-item
      %a.mt-4.mb-4{ href: farm_seasons_path(@farm) }
        %button.btn.btn_custom.btn--medium
          %i.icofont-circled-left
          Volver
      .card_new
        .float-left
        %h1 Editar temporada
        = render 'form', farm: @farm