body {
  font-family: $lato;
  margin: 0;
  padding: 0;
  &.offcanvas-expanded {
    overflow-y: hidden;
  }
  
}

* {
  position: relative;
}

a:hover {
  text-decoration: none;
}

.container_custom {
  margin: 0 5% 5%;
  position: relative;
}

.svg-icon-md {
  height: 30px;
}

.svg-icon-xs {
  height: 15px;
}

.p-absolute {
  position: absolute;
}

.r-0 {
  right: 0px;
}