.btn_custom {
  background-color: transparent;
  border: 1px solid $primary;
  border-radius: 5px;
  color: $primary;
  padding: 0.5rem 1rem;
  line-height: 1.1;
  @include font(14px, $regular);
}

.btn--small {
  padding: 8px 12px;
  min-width: 65px;
  font-size: 12px;
}

.btn--medium {
  padding: 10px 14px;
  min-width: 85px;
  font-size: 14px;
}

.btn--large {
  padding: 12px 16px;
  min-width: 105px;
  font-size: 18px;
}

.btn--filled {
  background-color: $primary;
  // background: #0bc5b7; 
  // background: -moz-linear-gradient(70deg,  #0bc5b7 0%,#28C76F 100%); 
  // background: -webkit-linear-gradient(70deg,  #0bc5b7 0%,#28C76F 100%); 
  // background: linear-gradient(70deg,  #0bc5b7 0%,#28C76F 100%);
  color: white;
  transition: all ease-in-out .3s;

  &:hover {
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;
    transition: all ease-in-out .3s;
  }
}

.btn-shadow {
  box-shadow: 0 6px 6px -3px rgba($primary, .2), 0 10px 14px 1px rgba($primary, .14), 0 4px 18px 3px rgba($primary, .12);
}

.btn-text-transform {
  text-transform: uppercase;
  font-weight: $medium;
}


.btn--input {
  height: 40px;
  border-radius: 5px;
}
.btn--select {
  font-size: 14px;
}
.select {
  background-color: #f8f8f8;
}