.label_login {
  text-transform: uppercase;
  font-weight: 600;

  i {
    margin-right: 5px;
  }
}

.input_login {
  border-radius: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  box-shadow: none;
  font-size: 1.5rem !important;

  &:focus {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: $primary !important;
  }
}

.login_container {
  background-color: #f8f8f8;
  width: 100%;
  height: 100vh;
  padding: 5vh 8vw;
  position: relative;
  overflow: hidden;
}


.login_box {
  display: flex;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  background-color: white;
  box-shadow: 0 6px 6px -3px rgba(0,0,0,.2), 0 10px 14px 1px rgba(0,0,0,.14), 0 4px 18px 3px rgba(0,0,0,.12);
}

.login_right, .login_left {
  position: relative;
}

.login_left {
  width: 50%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-wrap: wrap;
  // flex-direction: column;

  @include respond-to(xs) {
    width: 100%;
  }
}

.login_left_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 30px;
}

.login_left_company {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_right {
  width: 50%;
  .img_bg {
    height: 100%;
    width: 100%;
    // background-size: cover;
    // filter: grayscale(100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-repeat: no-repeat;
    overflow: hidden;

    .img_bg_blur {
      background: inherit;
      // background-repeat: no-repeat;
      width: 100%;
      height: 20%;
      position: absolute;
      top: -27px;
      left: 50%;
      filter: blur(5px);
      transform: translate(-50%, 25%);
    }
  }

  &::before {
    @include pseudo();
    // background-color: rgba($primary, .5);
    background-color: rgba($black, .5);
    width: 100%;
    height: 100%;
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  @include respond-to(xs) {
    display: none;
  }
}

.login_title {
  text-transform: uppercase;
  color: #696969;
  letter-spacing: 1.5px;
  font-size: 16px;
  font-weight: $bold;
}

.login_logo {
  max-width: 150px;
  margin-bottom: 10px;
}

.login_card {
  border-radius: 15px;
  padding: 40px;
  margin: 0 7%;

  @include respond-to(xs) {
    width: 100%;
  }
}

.powered_by {
  margin: 0 auto;

  a {
    color: $secundary;
    font-weight: 600;
  }
}
