.profile_banner {
  @include bg(cover, no-repeat, center);
  width: 100%;
  height: 50vh;
  position: relative;

  &::after {
    @include pseudo();
    background-color: rgba(#000, .3);
    width: 100%;
    height: 100%;
  }
}

.profile_box {
  position: absolute;
  left: 30px;
  bottom: 30px;
  padding: 40px;
  z-index: 2;

  .profile_name, .profile_activity {
    color: white;
  }

  .profile_name {
    @include font(50px, $bold);
    font-family: $lato;
  }

  .profile_activity {
    @include font(25px, $regular);
    font-family: $lato;
  }
}