.nav-tabs {
  padding: 0 5%;
  border-bottom: 1px solid transparent !important;
  @include respond-to(sm) {
    padding: 0 1%;
  }
  @include respond-to(xs) {
    padding: 0 1%;
  }

  .nav-item {
    margin-right: 15px;
  }

  .nav-link {
    border: 0;
    text-align: left;
    // padding: 8px 16px 8px 0;
    padding: 12px 16px 12px 16px;
    position: relative;
    color: #6f6f6f;
    transition: 0.5s ease-in-out;
    
    &.active {
      // background-color: transparent;
      background-color: white;
      // padding: 8px 16px 8px 0;
      padding: 12px 16px 12px 16px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      box-shadow: -2px -1px 9px 0px rgba(0, 0, 0, 0.08);

      &:hover {
        background-color: #28C76F;
        color: white;
        filter: brightness(100%);
        
      }
    }
  
    &.active::before {
      @include pseudo();
      background-color: $primary;
      bottom: 25%;
      left: 0;
      height: 50%;
      width: 3px;

      // bottom: 0;
      // height: 3px;
      // width: 100%
    }
  
    &:hover {
      // border: 0;
      background-color: #28C76F;
      color: white;
      filter: brightness(100%);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}

.line-tabs {
  margin-top: 0;
  margin-bottom: 0;
  width: 90%;

  @include respond-to(sm) {
    margin-bottom: 10px;
  }
  @include respond-to(xs) {
    margin-bottom: 20px;
  }

}