table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 4px;
}

th,
td {
  padding: 15px;
}

th {
  text-align: left;
}

thead {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);

  th {
    font-weight: $regular;
  }
}

tbody {
  tr {
    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
  td {
    position: relative;
    font-weight: $light;
  }
}

.checkboxes {
  width: 50px;
}

.actions {
  width: 100px;

  a {
    color: #9c9c9c;
    margin-right: 10px;
  }
}