.app_wrapper
  .container_custom
    = simple_form_for 'compare', url: compare_farm_inventories_path(@farm.id), html: { style: 'width: 100%' } do |f|
      .container-fluid
        .row.mb-4
          .col-sm-5
            = f.input :from, as: :select, collection: @farm.inventories, label: 'Comparar:', include_blank: false
          .col-sm-5
            = f.input :to, as: :select, collection: @farm.inventories, label: 'Con:', include_blank: false
          .col-sm-2
            %button{ type: 'submit', id: 'add-cattle', class: 'btn btn_custom btn--filled btn--medium add-cattle' }
              Comparar
:css
  .select {
    height: calc(3rem + 2px) !important;
  }