// Farm Stylesheets
= stylesheet_link_tag 'keppler_farm/application', media: 'all', 'data-turbolinks-track': true
// Farm Javascripts
= javascript_include_tag 'keppler_farm/application', 'data-turbolinks-track': true