.col_family-tree {
  display: flex;
  justify-content: center;
  &:last-child{
    
    @include respond-to(sm){
      display: none;
    }
    @include respond-to(xs){
      display: none;
    }
    
  }
  @include respond-to(xs){
    justify-content: flex-start;
  }
  &.level3 {
    @include respond-to(xs){
      display: none !important;
    }
  }
  &.level4 {
    @include respond-to(xs){
      display: none !important;
    }
    @include respond-to(sm){
      display: none !important;
    }
    
  }
}

.content_family_tree {
  @include respond-to(sm){
    display: flex;
    justify-content: center;
  }
  @include respond-to(xs){
    display: flex;
    justify-content: center;
  }
}
.family_tree{
  width: 140px !important;
  min-height: 185px; 
   @media (min-width: 1200px) and (max-width: 1280px) {
    width: 130px !important;
    min-height: 185px;
  }
  @media  (min-width: 1281px) and (max-width: 1366px) {
    width: 140px !important;
    min-height: 185px;
  }
  @media (min-width: 1367px) and (max-width: 1440px) {
    width: 150px !important;
    min-height: 185px;
  }
  
  @media (min-width: 1441px) and (max-width: 1600px) {
    width: 165px !important;
    min-height: 185px;
  }
  @media (min-width: 1601px) and (max-width: 2560px) {
    width: 200px !important;
    min-height: 200px;
  }

  @include respond-to(md){
    width: 100px !important;
    min-height: 185px;
  }
  @include respond-to(sm){
    width: 110px !important;
    min-height: 100px;
  }
  @include respond-to(xs){
    width: 100px !important;
    min-height: 80px;
  }
}
// nivel 1
.block_one {
  position: relative;
  &:before {
    @include pseudo();
    width: 30%;
    height: 2px;
    top: 50%;
    left: -30%;
    background-color: #28C76F;
    @include respond-to(sm){
      left: 50%;
      width: 2px;
      height: 72%;
      top: 100%;
      // display: none;
    }
    
    @media (min-width: 0px) and (max-width: 340px){
      left: 50%;
      width: 2px;
      height: 73%;
      top: 100%;
    }
    @media (min-width: 341px) and (max-width: 350px){
      left: 50%;
      width: 2px;
      height: 73%;
      top: 100%;
    }
    @media (min-width: 351px) and (max-width: 375px){
      left: 50% !important;
      width: 2px !important;
      height: 73% !important;
      top: 100% !important;
    }
     @media (min-width: 376px) and (max-width: 450px) {
      left: 50%;
      width: 2px;
      height: 73%;
      top: 100%;
    }
    @media (min-width: 451px) and (max-width: 550px) {
      left: 50%;
      width: 2px;
      height: 73%;
      top: 100%;
    }
    @media (min-width: 551px) and (max-width: 650px) {
      left: 50%;
      width: 2px;
      height: 72%;
      top: 100%;  
    }
    @media (min-width: 651px) and (max-width: 767px) {
      left: 50%;
      width: 2px;
      height: 72%;
      top: 100%; 
    }
    @media (min-width: 992px) and (max-width: 1000px) {
      width: 27%;
      left: -27%;
    }
    @media (min-width: 1001px) and (max-width: 1024px) {
      width: 29%;
      left: -29%;
    }
    @media (min-width: 1025px) and (max-width: 1130px) {
      width: 35%;
      left: -35%;
    }

  }
  &:after {
    @include pseudo();
    width: 30%;
    height: 2px;
    top: 50%;
    right: -30%;
    background-color: #28C76F;
    @include respond-to(sm){
      width: 155%;
      right: -155%;
      display: none;
    }
    @include respond-to(xs) {
      display: none;
    }
    @media (min-width: 992px) and (max-width: 1000px) {
      width: 27%;
      right: -27%;
    }
    @media (min-width: 1001px) and (max-width: 1024px) {
      width: 27%;
      right: -27%;
    }
    @media (min-width: 1025px) and (max-width: 1130px) {
      width: 35%;
      right: -35%;
    }
    

  }
}

// nivel 2
.block_two-left {
  position: relative;
  &:before {
    @include pseudo();
    width: 2px;
    height: 71%;
    top: -71%;
    left: 40%;
    background-color: #28C76F;
    @include respond-to(md) {
      left: 45%;
      height: 72%;
      top: -72%;
    }
  
    @include respond-to(sm) {
      height: 2px;
      top: 50%;
      width: 160%;
      left: 100%;
    }
    @media (min-width: 0px) and (max-width: 340px){
      height: 2px;
      top: 50%;
      width: 40%;
      left: 100%;
    }
    @media (min-width: 341px) and (max-width: 350px){
      height: 2px;
      top: 50%;
      width: 40%;
      left: 100%;
    }
    @media (min-width: 351px) and (max-width: 375px){
      height: 2px;
      top: 50%;
      width: 30%;
      left: 100%;
    }
     @media (min-width: 376px) and (max-width: 450px) {
      height: 2px;
      top: 50%;
      width: 50%;
      left: 100%;
    }
    @media (min-width: 451px) and (max-width: 550px) {
      height: 2px;
      top: 50%;
      width: 70%;
      left: 100%;
    }
    @media (min-width: 551px) and (max-width: 650px) {
      height: 2px;
      top: 50%;
      width: 100%;
      left: 100%; 
    }
    @media (min-width: 651px) and (max-width: 767px) {
      height: 2px;
      top: 50%;
      width: 120%;
      left: 100%; 
    }
      
    // @include respond-to(xs){
    //   height: 2px;
    //   top: 50%;
    //   width: 40%;
    //   left: 100%;
    // }
  }
  &:after {
    @include pseudo();
    width: 80%;
    height: 2px;
    top: 50%;
    left: -80%;
    background-color: #28C76F;
    @include respond-to(sm){
      left: 50%;
      width: 2px;
      height: 52%;
      top: 100%;
    } 
    @include respond-to(xs){
      display: none;
    }
    @media (min-width: 992px) and (max-width: 1000px) {
      width: 76%;
      left: -76%;
    }
    @media (min-width: 1001px) and (max-width: 1015px) {
      width: 77%;
      left: -77%;
    }
    @media (min-width: 1015px) and (max-width: 1024px) {
      width: 77%;
      left: -77%;
    }
    @media (min-width: 1025px) and (max-width: 1130px) {
      width: 96%;
      left: -96%;
    }
    
  }
}
.block_two-right {
  position: relative;
  &:before {
    @include pseudo();
    width: 2px;
    height: 71%;
    top: -71%;
    right: 40%;
    background-color: #28C76F;
    @include respond-to(md) {
      right: 45%;
    }

    // @include respond-to(sm) {
    //   right: 50%;
    //   height: 70%;
    //   top: -70%;
    // }
    @include respond-to(sm) {
      height: 2px;
      top: 50%;
      width: 160%;
      right: 100%;
    }

    @media (min-width: 0px) and (max-width: 340px){
      height: 2px;
      top: 50%;
      width: 30%;
      right: 100%;
    }
    @media (min-width: 341px) and (max-width: 350px){
      height: 2px;
      top: 50%;
      width: 30%;
      right: 100%;
    }
    @media (min-width: 351px) and (max-width: 375px){
      height: 2px;
      top: 50%;
      width: 30%;
      right: 100%;
    }
     @media (min-width: 376px) and (max-width: 450px) {
      height: 2px;
      top: 50%;
      width: 40% !important;
      right: 100%;
    }
    @media (min-width: 451px) and (max-width: 550px) {
      height: 2px;
      top: 50%;
      width: 70% !important;
      right: 100%;
    }
    @media (min-width: 551px) and (max-width: 650px) {
      height: 2px;
      top: 50%;
      width: 90% !important;
      right: 100%;  
    }
    @media (min-width: 651px) and (max-width: 767px) {
      height: 2px;
      top: 50%;
      width: 120% !important;
      right: 100%;
    }
    // @include respond-to(xs) {
    //   height: 2px;
    //   top: 50%;
    //   width: 30%;
    //   right: 100%;
    // }
    

  }
  &:after {
    @include pseudo();
    width: 80%;
    height: 2px;
    top: 50%;
    right: -80%;
    background-color: #28C76F;
    @include respond-to(sm){
      right: 50%;
      width: 2px;
      height: 52%;
      top: 100%;
    }
    @include respond-to(xs){
      display: none;
    }
    @media (min-width: 992px) and (max-width: 1000px) {
      width: 76%;
      right: -76%;
    }
    @media (min-width: 1001px) and (max-width: 1011px) {
      width: 77%;
      right: -77%;
    }
    @media (min-width: 1025px) and (max-width: 1130px) {
      width: 96%;
      right: -96%;
    }
  }
}


// nivel 3
.block_three-left-one {
  position: relative;
  &:before {
    @include pseudo();
    width: 2px;
    height: 71%;
    top: -71%;
    left: 61%;
    background-color: #28C76F;
    @include respond-to(md) {
      left: 68%;
    }
    @include respond-to(sm){
      height: 20%;
      top: -20%;
      left: 50%;
      display: none;
    }
     

  }
  &:after {
    @include pseudo();
      width: 160%;
      height: 2px;
      top: 50%;
      left: -160%;
      background-color: #28C76F;
    @include respond-to(sm){
      left: 100%;
      width: 55%;
      // display: none;
    } 
    @media (min-width: 992px) and (max-width: 1000px) {
      width: 170%;
      left: -170%;
    }
    @media (min-width: 1001px) and (max-width: 1015px) {
      width: 165%;
      left: -165%;
    }
    @media (min-width: 1016px) and (max-width: 1024px){
      width: 163%;
      left: -163%;
    }
    @media (min-width: 1025px) and (max-width: 1130px) {
      width: 130%;
      left: -130%;
    }
    @media (min-width: 1600px) and (max-width: 2560px) {
      width: 150%;
      left: -150%;
    }

  }
}
.block_three-left-two {
  position: relative;
  &:before {
    @include pseudo();
    width: 2px;
    height: 20%;
    top: -20%;
    right: 50%;
    background-color: #28C76F;
    @include respond-to(sm) {
      height: 80%;
      top: -80%;
      display: none;
    }

  }
  &:after {
    @include pseudo();
    width: 20%;
    height: 2px;
    top: 50%;
    left: -20%;
    background-color: #28C76F;
    @include respond-to(sm){
      left: -50%;
      width: 50%;
    }
    @media (min-width: 992px) and (max-width: 1000px) {
      width: 30%;
      left: -30%;
    }
    @media (min-width: 1001px) and (max-width: 1015px) {
      width: 24%;
      left: -24%;
    }
    @media (min-width: 1016px) and (max-width: 1024px){
      width: 23%;
      left: -23%;
    }
    @media (min-width: 1600px) and (max-width: 2560px){
      width: 14%;
      left: -14%;
    }
    
  }
}

.block_three-right-one {
  position: relative;
  &:before {
    @include pseudo();
    width: 2px;
    height: 20%;
    top: -20%;
    right: 50%;
    background-color: #28C76F;
    @include respond-to(sm){
      // height: 80%;
      // top: -80%;
      display: none;
    }
  }
  &:after {
    @include pseudo();
    width: 32%;
    height: 2px;
    top: 50%;
    right: -32%;
    background-color: #28C76F;
    @include respond-to(sm){
      width: 50%;
      right: -50%;
    }
    @media only screen and (max-width: 1600px) {
      width: 30%;
      right: -30%;
    }

  }
}
.block_three-right-two {
  position: relative;
  &:before {
    @include pseudo();
    width: 2px;
    height: 72%;
    top: -71%;
    right: 60%;
    background-color: #28C76F;
    @include respond-to(md) {
      right: 68%;
    }
    @include respond-to(sm){
      display: none;
    }

  }
  &:after {
    @include pseudo();
    width: 160%;
    height: 2px;
    top: 50%;
    right: -160%;
    background-color: #28C76F;
    @include respond-to(sm){
      left: -50%;
      width: 50%;
    }
    @media (min-width: 992px) and (max-width: 1000px) {
      width: 165%;
      right: -165%;
    }
     @media (min-width: 1001px) and (max-width: 1015px) {
      width: 163%;
      right: -163%;
    }
    @media (min-width: 1025px) and (max-width: 1130px) {
      width: 145%;
      right: -145%;
    }
    @media (min-width: 1600px) and (max-width: 2560px){
      width: 152%;
      right: -152%;
    }

  }
}

// nivel 4
.block_four-left-one {
  position: relative;
  &:before {
    @include pseudo();
    width: 2px;
    height: 72%;
    top: -71%;
    left: 40%;
    background-color: #28C76F;
    @include respond-to(md) {
      left: 60%;
    }
    @include respond-to(sm){
      height: 30%;
      top: -30%;
      left: 50%;
    }
  }
}
.block_four-left-two {
  position: relative;
  &:before {
    @include pseudo();
    width: 2px;
    height: 72%;
    top: -71%;
    right: 60%;
    background-color: #28C76F;
    @include respond-to(sm){
      height: 80%;
      top: -80%;
      right: 50%;
    }
 

  }
}

.block_four-left-three {
  position: relative;
  &:before {
    @include pseudo();
    width: 2px;
    height: 72%;
    top: -71%;
    right: 18%;
    background-color: #28C76F;
    @include respond-to(md) {
      right: 10%;
    }

  }
}
.block_four-left-four {
  position: relative;
  &:before {
    @include pseudo();
    width: 2px;
    height: 20%;
    top: -20%;
    right: 60%;
    background-color: #28C76F;

  }
}

.block_four-right-one {
  position: relative;
  &:before {
    @include pseudo();
    width: 2px;
    height: 20%;
    top: -20%;
    left: 50%;
    background-color: #28C76F;

  }
}
.block_four-right-two {
  position: relative;
  &:before {
    @include pseudo();
    width: 2px;
    height: 72%;
    top: -71%;
    left: 10%;
    background-color: #28C76F;
    @include respond-to(md)  {
      left: 0;
    }


  }
}

.block_four-right-three {
  position: relative;
  &:before {
    @include pseudo();
    width: 2px;
    height: 72%;
    top: -71%;
    left: 40%;
    background-color: #28C76F;

  }
}
.block_four-right-four {
  position: relative;
  &:before {
    @include pseudo();
    width: 2px;
    height: 72%;
    top: -71%;
    right: 60%;
    background-color: #28C76F;

    @include respond-to(md) {
      right: 80%;
    }

  }
}
