/* Keppler - index.scss file */


.card_lot {
  background-color: $white;
  border-radius: 15px;
  padding: 30px;
  width: 100%;
  color: #6f6f6f;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  max-height: 460px;
  overflow: hidden;

  h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: $primary;
    position: relative;
    width: 50%;
    margin-bottom: 30px;

    &::after {
      @include pseudo();
      bottom: -5px;
      left: 0;
      width: 15%;
      height: 3px;
      background-color: $secundary;
    }
  }
  
  .item-toolbar {
    display: flex;
    
    .item {
      margin: 0 5px;
    }
  }

  .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
  }

  // .box-header.with-border {
  //   border-bottom: 1px solid #f4f4f4;
  // }

  .box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
  }

  .select {
    padding-left: 0;
    cursor: pointer;
    background-color: white;
    list-style: none;
    border-radius: 20px;
    height: 37px;
  }

  .cows-list {
    height: 225px;
    overflow: scroll;
  }

  form {
    display: flex;
    width: 100%;
  }
  
}

.container_custom table {
  td {
    padding: 0;

    a {
      color: #4d5663;
      display: inline-flex;
      padding: 10px 0;
      justify-content: center;
      width: 100%;
    }
  }

  .checkbox {
    justify-content: center
  }
}

.actions.dropdown-menu {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.175);
  left: auto !important;
  min-width: 130px;
  right: 100px !important;
  // top: 15px !important;

  a {
    justify-content: flex-start;
    
    i {
      padding: 0 10px;
    }
  }
}


.center {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.not-records {
  background-color: #fff;
  border: 0;
}

table img {
  max-height: 50px; 
}

.floating-btn {
  border-radius: 20px;
  //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: .3s;

  &:hover {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    color: #008500;
    transition: .3s;
  }
}

.flex-search {
  display: flex;
}

#serie_number {
  display: block;
}

.select-field {
  display: none;
}

.cow-table {

  td.status {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.days-alert {
  color: orange;
}