.container_custom
  .multiple-items
    - unless farm&.photos.blank?
      - farm&.photos.each do |photo|
        .carousel_img
          = image_tag (photo&.photo&.url || 'https://images.pexels.com/photos/787647/pexels-photo-787647.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')