// Cattle Stylesheets
= stylesheet_link_tag 'keppler_cattle/application', media: 'all', 'data-turbolinks-track': true
// Cattle Javascripts
= javascript_include_tag 'keppler_cattle/application', 'data-turbolinks-track': true