.form-group
  %label.label_custom Texto
  %input.form-control.input_custom{ type: 'text' }

%ul.select
  %li
    %abbr *
    %input#select-close.select_close{name: "select_custom", type: "radio", value: ""}/
    %span.select_label.select_label-placeholder Awesomeness Level
  %li.select_items
    %input#select-opener.select_expand{name: "select_custom", type: "radio"}
    %label.select_closeLabel{for: "select-close"}
    %ul.select_options
      %li.select_option
        %input#awesomeness-ridiculous.select_input{name: "select_custom", type: "radio"}
        %label.select_label{for: "awesomeness-ridiculous"} ridiculous
      %li.select_option
        %input#awesomeness-reasonable.select_input{name: "select_custom", type: "radio"}
        %label.select_label{for: "awesomeness-reasonable"} reasonable
      %li.select_option
        %input#awesomeness-reasonable.select_input{name: "select_custom", type: "radio"}
        %label.select_label{for: "awesomeness-reasonable"} new option
      %li.select_option
        %input#awesomeness-lacking.select_input{name: "select_custom", type: "radio"}
        %label.select_label{for: "awesomeness-lacking"} lacking
      %li.select_option
        %input#awesomeness-awesomeless.select_input{name: "select_custom", type: "radio"}
        %label.select_label{for: "awesomeness-awesomeless"} awesomeless
    %label.select_expandLabel{for: "select-opener"}

.form-group
  %label.label_custom Numero
  %input.form-control.input_custom{ type: 'number' }

.form-group
  %label.label_custom Textarea
  %textarea.form-control.textarea_custom