.container_custom
  .multiple-items
    - 6.times do
      .carousel_img
        %img{ src: 'https://images.unsplash.com/photo-1547046219-d3ce5318c5c7?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80' }