%ul#moduleTabs.nav.nav-tabs.mt-4{role: "tablist"}
  %li.nav-item
    %a#mfg-tab.nav-link.active{"aria-controls" => "mfg", "aria-selected" => "true", "data-toggle" => "tab", href: "#mfg", role: "tab"} Fichas de Ganado
  %li.nav-item
    %a#ale-tab.nav-link{"aria-controls" => "ale", "aria-selected" => "false", "data-toggle" => "tab", href: "#ale", role: "tab"} Admin. Lote Estratégico
  %li.nav-item
    %a#transfers-tab.nav-link{"aria-controls" => "transfers", "aria-selected" => "false", "data-toggle" => "tab", href: "#transfers", role: "tab"} Transferencias